@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');




/* In our demo, the footers are fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
